/*!
 * LL two-way parallel editor - demo stylesheet
 *
 * @copyright 2019 LL team and others; see LICENSE.txt for terms
 */

.ll-demo-editors {
	display: flex;
}

.ll-demo-editor {
	width: 50%;
	padding: 1em;
}

.ll-demo-editor .ve-instance {
	margin: 0 0 1em 0;
}

.ll-language-unsupported {
	opacity: 0.5;
}

/* XXX should this be in ve.ce.ContentBranchNode.css? */
.ve-ce-contentBranchNode-ll-dirty {
	background-color: #fae168;
}

.ve-ce-contentBranchNode-ll-dirty .ll-conflict {
	text-decoration: line-through;
	background-color: #fbb;
}

.ve-ce-contentBranchNode-ll-dirty .ll-update {
	text-decoration: underline;
}
